

body{
	text-transform:capitalize;
	/*padding-top:50px;*/
	background:#DDD;
	/*font-family:'Hind', sans-serif;'Cairo';'Releway';*/
}

#home-p{

/* min-width:144%;
margin-right: -22%; */
margin-bottom:5%;

}
#choice_lang{
width:80px;
height:70px

}
.dropdown-men{
	color:white;
	min-width:104px;
	margin: 0.125rem 0px 0;
	padding:1px;

}
.dropdown-menu{
margin-top: -10px;
min-width: 100px;
}
.dropdown-toggle::after{
	display:none;

}

form{
	padding-top:40px;
	background:rgba(255, 255, 255,.7);rgba(93, 88, 88, 0.1);
	border-radius:10px;
	/* min-height:1150px; */
	/*margin-bottom:20px;*/
}
h1{
	margin-bottom:30px;
}
label{
	font-size:15px;
	font-weight: 200;
	margin-top:10px;
}
#user_name , #phone , #another_phone , #user_email{
	padding-left:50px;
	padding-right:50px;
}

textarea{
	min-height:80px;
	width:403px;
	border: 1px solid #ccc;
	border-radius:4px;
	padding:20px;
}
select , #file, #file2{
	width:403px;
	margin-top:10px;

}
input{
	min-height:45px;
	padding-left:10px;
	padding-right:20px;
	width:403px;
	border: 1px solid #ccc;
	border-radius:4px;
}

/* .div_icon{
padding:-1px;
color: #555;
width:40px;
height:45px;
display:inline-block;
position:absolute;;
background-color:#eee;
border: 1px solid #ccc;
border-radius:0px 0 0 0px;

} */
/* nav{
	font-size:12px;
	font-weight:-100;
	color:#787474;
	margin-top:5px;
} */

span{
  display:hidden;
  color:#f346f1;
  font-size:12px;
	min-width:100px;

}
.error{
	color:red;#b70303;
  margin-left:26%;
	font-size:14px;
	margin-right:28%;
}


 .btn{
	 font-size:18px;
	 /* width:100px;
	 margin-top:40px;
	 margin-bottom:0px;
	 margin-right:8px;
	 color:#2196f3;
	 text-align:center;
	 border:1px solid #2196f3;
	 border-radius:0; */
	 display:inline-block;
	 margin-bottom: 12%;
	 font-weight: bold;
}
 }
 .btn:focus {
    border-color: #2196f3;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
	}



@media(max-width : 480px) {
	h1{
		font-size:20px;
	}
	#submit_btn,#cancel_btn{
 	 width:80px;
 	 font-size:15px;
  }
	input ,textarea ,select{
	  max-width:200px;
	}
	.error{
		font-size:10px;
		right:0%;
		top:12px;
		left:15%;
		max-width:100px;
	}
	.error:after{
		min-width:15px;
		min-height:15px;
		border-top:1px solid #f7fcfc66;
		border-right:0px solid #f7fcfc66;
		border-bottom:0px solid #f7fcfc66;
		border-left:1px solid #f7fcfc66;
		content:'';
		transform:rotate(45deg);
		background:#f7fcfc66;
		top:-12%;
		left:35%;
	}
	nav{
		font-size:11px;
	}

}


/* start task2 */
#entrepreneur_btn , #startup_btn{
  margin:20px;
  height:40px;
  width:150px;
	margin-bottom:40px;
}
.btn{
 	 font-size:18px;
 	 width:100px;
 	 margin-top:40px;
 	 margin-bottom:20px;
	 margin-right:8px;
 	 color:#2196f3;
 	 text-align:center;
 	 border:;1px solid #2196f3;
 	 border-radius:0;
}
.btn:focus {
	 background-color: #2196f3;
	 color: #fff;
	 cursor: pointer;
 }
 .colo{
	 color:white;
 }
#user2_name ,#user3_name , #phone2 ,#phone3 , #user_email2 , #user_email3 ,#whats2 ,#whats3{
	padding-left:50px;
	padding-right:50px;

}
#file ,#file2{
	margin-top:-3px;
    transition: all 0.3s;
		color: #333;
		height:44px;
		border-radius:none;
    z-index:10;
	  width:400px;
		height:40px;
		background-color:white;
		padding:2px;
		overflow:hidden;

}
@media(max-width : 480px) {
	#entrepreneur_btn , #startup_btn{
	  margin:0 10px 10px 0;
	  height:40px;
	  width:140px;
		margin-bottom:20px;
		font-size:16px;
	}
}
/* start alert */
.alert{
	max-width:500px;
	background-color:#2196f3;
	color:white;
	font-size:22px;
	padding:30px;
}
.alert p{
	color:white;
}
